body {
margin-bottom: 0px


}


main {
  width: 1230px;
  height: 630px;
  position: absolute;
  background-color: #E2A67F;

}

div {
width: 750px;
height: 600px;
margin: 10px 20%;
background-color: #F5F5DC;
border:  dotted black;
font-size: 15px;

}

nav {
border-bottom: dotted black  3px;
text-align: center;

}


h1 {

font-size: 3em;
font-style: italic;
font-style: bold;
font-family: impact;
margin-bottom: 0;
margin-top: 0;
text-align: center;


}
 P {
padding-left: 15px;
padding-right: 15px;
text-align: left;
font-family: sans-serif;
margin-bottom: 5px;

 }


 aside {
width: inherit;
text-align: center;
padding-left: 10px;
padding-right: 15px;
padding-top: 0px;
padding-bottom: 10px;
text-align: center;
font-family: sans-serif;
font-size: 15px;
 }

 .poem {

font-size: 19px;
line-height: 1.5em;
font-family: sans-serif;
font-style: italic;
text-align: center;
margin-top: 0px;
 }

 span {
font-weight: bolder;
 }
 .info {
font-size: .75em;
text-align: center;
 }
